@media (max-width: 768px) {
  #header-first {
    z-index: 2;
  }
  #header-first .header-inner {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-right: 10px;
  }

  #header-first .header-inner .header-inner2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    text-align: end;
    margin-top: -20px;
  }

  .header-inner1 {
    margin: 0;
    display: none;
  }

  #header-first .header-inner2 .download {
    display: none;
  }

  /* nav bar */

  #header-second {
    display: block;
    z-index: 1;
  }

  #header-second .header-wrap {
    display: block;
  }

  #header-second .nav .fas {
    float: right;
    font-size: 1.5rem;
    margin-top: -1.9rem;
    margin-right: 1rem;
    border: 2px aqua solid;
    border-radius: 5px;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  }

  #header-second .nav ul {
    display: none;
    position: relative;
    background: white;
    width: 100%;
    height: 30vh;
    top: 80px;
  }

  #header-second .nav ul li {
    margin-left: 20px;
    padding-bottom: 1rem;
    font-weight: bold;
  }

  #header-second .nav ul li a:hover {
    color: red;
  }

  #header-second .nav:hover ul {
    display: block;
    position: absolute;
  }

  #header-second .header-wrap > div p {
    font-size: 23px;
    font-weight: bold;
    margin-top: 1.3rem;
    margin-left: 1rem;
  }

  /* end nav bar */

  #showcase .showcase-content {
    padding-top: 4px;
  }

  #showcase .showcase-wrap1 {
    bottom: -20rem;
  }
  #showcase .showcase-content h1 {
    font-size: 2.2rem;
    line-height: 3rem;
    padding-top: 4rem;
  }

  #showcase .showcase-content p {
    font-size: 1.3rem;
  }

  #showcase .showcase-wrap1 {
    height: 100vh;
    bottom: 0;
  }

  /* about */

  #about {
    background-color: rgb(231, 98, 49);
    height: 60vh;
    padding-top: 10rem;
    padding-bottom: 25rem;
    margin-top: -124px;
  }

  #about .about-content {
    margin-top: -30px;
  }
  #about .about-content h2 {
    font-size: 2.3rem;
  }

  #about .about-content p {
    font-size: 1.3rem;
  }

  /* service */

  #service .boxes {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* port */
  #portfolio .projects {
    display: grid;
    grid-template-columns: 1fr;
  }

  .project .text {
    top: 90px;
  }

  .port-inner p {
    font-size: 2.3rem;
    line-height: 2.5rem;
  }

  /* contact */

  #contact .contact-content p {
    font-size: 1.3rem;
  }

  #contact .contact-content1 .icons {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
